.App {
  background-color: #35654d;
  height: 100vh;
  text-align: center;
}

.player-title {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0;
}

.dealer-hand,
.user-hand {
  display: inline-flex;
}

.card-container {
  margin: 10px;
}

.card {
  height: 225px;
}

.winner-statement {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin: 20px;
}

.error {
  background-color: #fff;
  border: #fa7777 3px solid;
  font-size: 18px;
  font-weight: 700;
  margin: auto;
  max-width: 75%;
  padding: 20px;
}

.buttons-container {
  display: inline-flex;
  justify-content: space-between;
  width: 50%;
}

.deal-btn {
  background-color: gold;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 24px;
}

.hit-me-btn {
  background-color: gold;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 24px;
}

.end-turn-btn {
  background-color: #295ccc;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 24px;
}